@model TaskManagement.Models.TaskNode

@*если у задачи нет родителя*@
@if (Model.Parent == null)
{
    @* если у задачи нет подзадач *@
    @if (Model.ChildrenList == null || Model.ChildrenList.Count == 0)
    {
        <div class="task task-main">
            <div class="task-info">
                <span class="collapse-button">></span>
                <a class="task-title" data-ajax="true" data-ajax-update="#task-viewer" data-ajax-mode="replace"
                   asp-action="ShowTaskNodeDetails" asp-route-id="@Model.Id" asp-controller="Home">
                    @Model.Title
                </a>
            </div>
        </div>
    }
    @* если у задачи есть подзадачи*@
    else
    {
        <div class="task subbed task-main">
            <div class="task-info">
                <span class="collapse-button">></span>
                <a class="task-title" data-ajax="true" data-ajax-update="#task-viewer" data-ajax-mode="replace"
                   asp-action="ShowTaskNodeDetails" asp-route-id="@Model.Id" asp-controller="Home">
                    @Model.Title
                </a>
            </div>
            @* рекурсия *@
            @foreach (var item in @Model.ChildrenList)
            {
                @Html.Partial("TaskNodeRecursivePartial", item);
            }
        </div>
    }
}
else
{
    @* если у задачи нет подзадач *@
    @if (Model.ChildrenList == null || Model.ChildrenList.Count == 0)
    {
        <div class="task">
            <div class="task-info">
                <span class="collapse-button">></span>
                <a class="task-title" data-ajax="true" data-ajax-update="#task-viewer" data-ajax-mode="replace"
                   asp-action="ShowTaskNodeDetails" asp-route-id="@Model.Id" asp-controller="Home">
                    @Model.Title
                </a>
            </div>
        </div>
    }
    @* если у задачи есть подзадачи*@
    else
    {
        <div class="task subbed">
            <div class="task-info">
                <span class="collapse-button">></span>
                <a class="task-title" data-ajax="true" data-ajax-update="#task-viewer" data-ajax-mode="replace"
                   asp-action="ShowTaskNodeDetails" asp-route-id="@Model.Id" asp-controller="Home">
                    @Model.Title
                </a>
            </div>
            @* рекурсия *@
            @foreach (var item in @Model.ChildrenList)
            {
                @Html.Partial("TaskNodeRecursivePartial", item);
            }
        </div>
    }
}

