@model TaskManagement.ViewModels.TaskNodeAddTaskViewModel

@inject IViewLocalizer Localizer

@{
    //возвращает строку hours или hour (часы и час(а) для русской локали) в зависимости от того сколько часов
    string GetHoursString(int hours)
    {
        var culture = System.Globalization.CultureInfo.CurrentCulture.Name;

        if (culture == "en")
        {
            if (hours == 1)
                return Localizer["Hour"].Value.ToLower();
            else
                return Localizer["Hours"].Value.ToLower();
        }
        else
        {
            if (hours >= 1 && hours <= 4)
                return Localizer["Hour"].Value.ToLower();
            else
                return Localizer["Hours"].Value.ToLower();
        }
    }
}


@if (Model != null)
{
    @* почему-то на форме с ajax не работает клиентская валидация стандартная в mvc, не разобрался что сделать.
    Тут сделал клиентскую валидацию через html теги, но на сервере нормальная валидация*@
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <input class="detail-hide" type="text" asp-for="ParentId" value="@Model.ParentId" />

    <input class="detail-hide" type="text" asp-for="Id" value="@Model.Id" />
    <span class="detail-title">
        <input class="detail-input" type="text" required asp-for="Title" placeholder="@Localizer["TaskTitle"].Value" />
        <span asp-validation-for="Title"></span>
    </span>
    <span class="detail-description">
        <input class="detail-input" type="text" required asp-for="Description" placeholder="@Localizer["TaskDescription"].Value" />
        <span asp-validation-for="Description"></span>
    </span>
    <span class="detail-date-register">@Model.RegisterDate.ToString("dd/MM/yyyy HH:mm")</span>

    <span class="detail-executors">
        @Localizer["Executors"]: <input class="detail-input" type="text" required asp-for="Executors" placeholder="@Model.Executors" />
        <span asp-validation-for="Executors"></span>
    </span>

    <span class="detail-time-planned">
        @Localizer["ThisTimePlanned"]:
        <input class="detail-input small" type="number" required min="1" asp-for="ExecutionTimePlanned"/>
        @GetHoursString(Model.ExecutionTimePlanned)
        <span asp-validation-for="ExecutionTimePlanned"></span>
    </span>

    <input class="detail-save-button" type="submit" value="@Localizer["Save"]" />
}